In [42]:
import pandas as pd #matches data
import json
path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/2'
alldic2 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic2.append(dict)
var7=pd.concat(alldic2)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/11'
alldicts = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldicts.append(dict)

        
var=pd.concat(alldicts)
#var
path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/16'
alldic = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic.append(dict)
var1=pd.concat(alldic)
#com = [var,var1]
#varcom = pd.concat(com)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/37'
alldic37 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic37.append(dict)
var2=pd.concat(alldic37)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/43'
alldic43 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic43.append(dict)
var3=pd.concat(alldic43)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/49'
alldic49 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic49.append(dict)
var4=pd.concat(alldic49)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/55'
alldic55 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic55.append(dict)
var5=pd.concat(alldic55)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/72'
alldic72 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic72.append(dict)
var6=pd.concat(alldic72)

com = [var7,var,var1,var2,var3,var4,var5,var6]
matchestogether = pd.concat(com)
matchestogether=matchestogether.reset_index()
#matchestogether
matchestogether = pd.DataFrame(matchestogether)

,index,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,metadata,match_week,competition_stage,stadium,referee
0,0,3749052,2004-02-07,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 46, 'home_team_name': 'Wolver...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,3,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 217, 'name': 'Molineux Stadium (Wolverh...",None
1,1,3749522,2003-12-26,13:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 46, 'away_team_name': 'Wolver...",3,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",18,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",None
2,2,3749246,2004-03-28,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 39, 'away_team_name': 'Manche...",1,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",30,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",None
3,3,3749257,2004-05-15,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 22, 'away_team_name': 'Leices...",2,1,available,scheduled,2020-08-30T08:12:14.579037,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",38,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",None
4,4,3749642,2004-02-28,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 75, 'away_team_name': 'Charlt...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",27,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,47,69199,2019-06-27,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 852, 'home_team_name': 'Norwa...","{'away_team_id': 865, 'away_team_name': 'Engla...",0,3,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 230, 'name': 'Stade Océane', 'country':...","{'id': 1638, 'name': 'Lucila Venegas Montes', ..."
1091,48,69258,2019-07-02,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 865, 'home_team_name': 'Engla...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",6,"{'id': 15, 'name': 'Semi-finals'}","{'id': 193, 'name': 'Groupama Stadium', 'count...",None
1092,49,69284,2019-07-03,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 851, 'home_team_name': 'Nethe...","{'away_team_id': 858, 'away_team_name': 'Swede...",1,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",6,"{'id': 15, 'name': 'Semi-finals'}","{'id': 193, 'name': 'Groupama Stadium', 'count...","{'id': 1627, 'name': 'Marie-Soleil Beaudoin', ..."
1093,50,69205,2019-06-29,15:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 855, 'home_team_name': 'Italy...","{'away_team_id': 851, 'away_team_name': 'Nethe...",0,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 231, 'name': 'Stade du Hainaut', 'count...","{'id': 1632, 'name': 'Claudia Umpiérrez', 'cou..."
1094,51,69161,2019-06-24,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 863, 'home_team_name': 'Spain...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",4,"{'id': 33, 'name': 'Round of 16'}","{'id': 232, 'name': 'Stade Auguste-Delaune II ...","{'id': 721, 'name': 'Katalin Kulcsar', 'countr..."

In [52]:
matchestogether.to_pickle('pickle_matches')

In [1]:
import pandas as pd
pd.read_pickle('pickle_matches')

,index,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,metadata,match_week,competition_stage,stadium,referee
0,0,3749052,2004-02-07,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 46, 'home_team_name': 'Wolver...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,3,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 217, 'name': 'Molineux Stadium (Wolverh...",NaN
1,1,3749522,2003-12-26,13:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 46, 'away_team_name': 'Wolver...",3,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",18,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",NaN
2,2,3749246,2004-03-28,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 39, 'away_team_name': 'Manche...",1,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",30,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",NaN
3,3,3749257,2004-05-15,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 22, 'away_team_name': 'Leices...",2,1,available,scheduled,2020-08-30T08:12:14.579037,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",38,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",NaN
4,4,3749642,2004-02-28,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 75, 'away_team_name': 'Charlt...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",27,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,47,69199,2019-06-27,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 852, 'home_team_name': 'Norwa...","{'away_team_id': 865, 'away_team_name': 'Engla...",0,3,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 230, 'name': 'Stade Océane', 'country':...","{'id': 1638, 'name': 'Lucila Venegas Montes', ..."
1091,48,69258,2019-07-02,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 865, 'home_team_name': 'Engla...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",6,"{'id': 15, 'name': 'Semi-finals'}","{'id': 193, 'name': 'Groupama Stadium', 'count...",NaN
1092,49,69284,2019-07-03,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 851, 'home_team_name': 'Nethe...","{'away_team_id': 858, 'away_team_name': 'Swede...",1,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",6,"{'id': 15, 'name': 'Semi-finals'}","{'id': 193, 'name': 'Groupama Stadium', 'count...","{'id': 1627, 'name': 'Marie-Soleil Beaudoin', ..."
1093,50,69205,2019-06-29,15:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 855, 'home_team_name': 'Italy...","{'away_team_id': 851, 'away_team_name': 'Nethe...",0,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 231, 'name': 'Stade du Hainaut', 'count...","{'id': 1632, 'name': 'Claudia Umpiérrez', 'cou..."
1094,51,69161,2019-06-24,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 863, 'home_team_name': 'Spain...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",4,"{'id': 33, 'name': 'Round of 16'}","{'id': 232, 'name': 'Stade Auguste-Delaune II ...","{'id': 721, 'name': 'Katalin Kulcsar', 'countr..."

In [2]:
import pandas as pd #lineups
path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/lineups'
alldicline = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldicline.append(dict)
varlineup=pd.concat(alldicline)
varlineup = varlineup.reset_index()
varlineup
varlineup.to_pickle('pickle_lineup')

In [ ]:
shortened_matches = pd.read_pickle('pickle_matches')
shortened_matches = shortened_matches[['match_id','home_team','away_team','home_score','away_score']]
shortened_matches

,match_id,home_team,away_team,home_score,away_score
0,3749052,"{'home_team_id': 46, 'home_team_name': 'Wolver...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,3
1,3749522,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 46, 'away_team_name': 'Wolver...",3,0
2,3749246,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 39, 'away_team_name': 'Manche...",1,1
3,3749257,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 22, 'away_team_name': 'Leices...",2,1
4,3749642,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 75, 'away_team_name': 'Charlt...",2,1
...,...,...,...,...,...
1090,69199,"{'home_team_id': 852, 'home_team_name': 'Norwa...","{'away_team_id': 865, 'away_team_name': 'Engla...",0,3
1091,69258,"{'home_team_id': 865, 'home_team_name': 'Engla...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2
1092,69284,"{'home_team_id': 851, 'home_team_name': 'Nethe...","{'away_team_id': 858, 'away_team_name': 'Swede...",1,0
1093,69205,"{'home_team_id': 855, 'home_team_name': 'Italy...","{'away_team_id': 851, 'away_team_name': 'Nethe...",0,2
1094,69161,"{'home_team_id': 863, 'home_team_name': 'Spain...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2

In [4]:
def breaker(text):
    ending = text.find('.json')
    return text[:ending]
test = 'hello I like water.json'
test2='7298.json'
a=breaker(test2)
int(a)

7298

In [5]:
dictionary = []
shortened_matches['match_id']
for i in range(1095):
    temp = pd.read_json('/Users/matthewvoss/SoccerProjectFixed/open-data/data/events/' + str(shortened_matches.at[i,'match_id']) + '.json')
    temp['match_id']=shortened_matches.at[i,'match_id']
    temp['match_id']=shortened_matches.at[i,'match_id']
    temp['home_team']=shortened_matches.at[i,'home_team'].get('home_team_name')
    temp['away_team']=shortened_matches.at[i,'away_team'].get('away_team_name')
    temp['home_score']=shortened_matches.at[i,'home_score']
    temp['away_score']=shortened_matches.at[i,'away_score']
    dictionary.append(temp)
fullData = pd.concat(dictionary)

KeyboardInterrupt:

In [1]:
import pandas as pd
shortened_matches = pd.read_pickle('pickle_matches')
shortened_matches = shortened_matches[['match_id','home_team','away_team','home_score','away_score','match_date']]
#shortened_matches['year']=shortened_matches['match_date']
def breaker(text):
    ending = text.find('-')
    return text[:ending]
diction = []
diction2 = []
for i in range(len(shortened_matches['match_id'])):
    temp = shortened_matches['match_date'].get(i)
    diction.append(temp)
for i in range(len(shortened_matches)):
    temp2 = breaker(diction[i])
    diction2.append(temp2)
shortened_matches['year']=diction2
shortened_matches_2019 = shortened_matches[shortened_matches['year']=='2019']
dictionary = []
for i in range(len(shortened_matches_2019)):
    temp3 = pd.read_json('/Users/matthewvoss/SoccerProjectFixed/open-data/data/events/' + str(shortened_matches['match_id'].values[i]) + '.json')
    temp3['home_team']=shortened_matches_2019['home_team'].values[i].get('home_team_name')
    temp3['away_team']=shortened_matches_2019['away_team'].values[i].get('away_team_name')
    temp3['home_score']=shortened_matches_2019['home_score'].values[i]
    temp3['away_score']=shortened_matches_2019['away_score'].values[i]
    temp3['match_id']=shortened_matches_2019['match_id'].values[i]
    dictionary.append(temp3)
df = pd.concat(dictionary)
df

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,home_team,away_team,home_score,away_score,match_id,50_50,half_start,injury_stoppage,half_end,player_off
0,3b20dc57-5cb7-46a8-bccb-b09d984478d7,1,1,2021-11-26 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 46, 'name': 'Wolverhampton Wanderers'}","{'id': 1, 'name': 'Regular Play'}",...,Sevilla,Barcelona,2,4,16190,NaN,NaN,NaN,NaN,NaN
1,61306f72-bec9-466f-9d43-c1152531323c,2,1,2021-11-26 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 46, 'name': 'Wolverhampton Wanderers'}","{'id': 1, 'name': 'Regular Play'}",...,Sevilla,Barcelona,2,4,16190,NaN,NaN,NaN,NaN,NaN
2,98964276-7c4e-4067-975a-2f7a07665ad8,3,1,2021-11-26 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 46, 'name': 'Wolverhampton Wanderers'}","{'id': 1, 'name': 'Regular Play'}",...,Sevilla,Barcelona,2,4,16190,NaN,NaN,NaN,NaN,NaN
3,691cd9cc-9e81-4ba1-83b9-87fc0617fab0,4,1,2021-11-26 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 46, 'name': 'Wolverhampton Wanderers'}","{'id': 1, 'name': 'Regular Play'}",...,Sevilla,Barcelona,2,4,16190,NaN,NaN,NaN,NaN,NaN
4,3870b202-0c05-4fe2-9729-e186bd4d1808,5,1,2021-11-26 00:00:00.675,0,0,"{'id': 30, 'name': 'Pass'}",2,"{'id': 1, 'name': 'Arsenal'}","{'id': 9, 'name': 'From Kick Off'}",...,Sevilla,Barcelona,2,4,16190,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3613,bc8bd9d3-3b69-4ae4-936e-37bbbd498690,3614,2,2021-11-26 00:47:49.376,92,49,"{'id': 2, 'name': 'Ball Recovery'}",181,"{'id': 217, 'name': 'Barcelona'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
3614,6a1d948b-4d3e-4d86-82d8-41432367ae9e,3615,2,2021-11-26 00:47:57.105,92,57,"{'id': 30, 'name': 'Pass'}",181,"{'id': 217, 'name': 'Barcelona'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
3615,7a53ad83-61de-4dbb-b24c-97aa47310858,3616,2,2021-11-26 00:47:58.818,92,58,"{'id': 42, 'name': 'Ball Receipt*'}",181,"{'id': 217, 'name': 'Barcelona'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
3616,f0eb6c34-b2ae-4ec7-a3f8-e21d643d7b99,3617,2,2021-11-26 00:48:05.235,93,5,"{'id': 34, 'name': 'Half End'}",181,"{'id': 217, 'name': 'Barcelona'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
3617,adb2d7f4-0c36-498b-9319-92ea2b3b4a5c,3618,2,2021-11-26 00:48:05.235,93,5,"{'id': 34, 'name': 'Half End'}",181,"{'id': 217, 'name': 'Barcelona'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN

In [15]:
from sklearn.model_selection import train_test_split
import numpy as np

y = df['match_id'].values
X = df.iloc[:, df.columns!='match_id']

X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=0.3, shuffle=True, random_state=42, stratify=y)

In [17]:
y_train.shape

(475631,)

In [18]:
from sklearn.model_selection import GroupShuffleSplit
train_inds, test_inds = next(GroupShuffleSplit(test_size=.20, n_splits=2, random_state = 42).split(df, groups=df['match_id']))

train = df.iloc[train_inds]
test = df.iloc[test_inds]

In [19]:
train.shape

(546645, 47)

In [20]:
test.shape

(132828, 47)