In [ ]:
import requests

response = requests.get(target_url)
data = response.text

In [1]:
import pandas as pd #matches data
path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/2'
alldic2 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic2.append(dict)
var7=pd.concat(alldic2)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/11'
alldicts = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldicts.append(dict)

        
var=pd.concat(alldicts)
#var
path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/16'
alldic = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic.append(dict)
var1=pd.concat(alldic)
#com = [var,var1]
#varcom = pd.concat(com)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/37'
alldic37 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic37.append(dict)
var2=pd.concat(alldic37)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/43'
alldic43 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic43.append(dict)
var3=pd.concat(alldic43)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/49'
alldic49 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic49.append(dict)
var4=pd.concat(alldic49)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/55'
alldic55 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic55.append(dict)
var5=pd.concat(alldic55)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/72'
alldic72 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic72.append(dict)
var6=pd.concat(alldic72)

com = [var7,var,var1,var2,var3,var4,var5,var6]
matchestogether = pd.concat(com)
matchestogether

,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,metadata,match_week,competition_stage,stadium,referee
0,3749052,2004-02-07,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 46, 'home_team_name': 'Wolver...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,3,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 217, 'name': 'Molineux Stadium (Wolverh...",NaN
1,3749522,2003-12-26,13:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 46, 'away_team_name': 'Wolver...",3,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",18,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",NaN
2,3749246,2004-03-28,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 39, 'away_team_name': 'Manche...",1,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",30,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",NaN
3,3749257,2004-05-15,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 22, 'away_team_name': 'Leices...",2,1,available,scheduled,2020-08-30T08:12:14.579037,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",38,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",NaN
4,3749642,2004-02-28,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 75, 'away_team_name': 'Charlt...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",27,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47,69199,2019-06-27,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 852, 'home_team_name': 'Norwa...","{'away_team_id': 865, 'away_team_name': 'Engla...",0,3,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 230, 'name': 'Stade Océane', 'country':...","{'id': 1638, 'name': 'Lucila Venegas Montes', ..."
48,69258,2019-07-02,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 865, 'home_team_name': 'Engla...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",6,"{'id': 15, 'name': 'Semi-finals'}","{'id': 193, 'name': 'Groupama Stadium', 'count...",NaN
49,69284,2019-07-03,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 851, 'home_team_name': 'Nethe...","{'away_team_id': 858, 'away_team_name': 'Swede...",1,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",6,"{'id': 15, 'name': 'Semi-finals'}","{'id': 193, 'name': 'Groupama Stadium', 'count...","{'id': 1627, 'name': 'Marie-Soleil Beaudoin', ..."
50,69205,2019-06-29,15:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 855, 'home_team_name': 'Italy...","{'away_team_id': 851, 'away_team_name': 'Nethe...",0,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 231, 'name': 'Stade du Hainaut', 'count...","{'id': 1632, 'name': 'Claudia Umpiérrez', 'cou..."
51,69161,2019-06-24,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 863, 'home_team_name': 'Spain...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",4,"{'id': 33, 'name': 'Round of 16'}","{'id': 232, 'name': 'Stade Auguste-Delaune II ...","{'id': 721, 'name': 'Katalin Kulcsar', 'countr..."