In [42]:
import pandas as pd #matches data
import json
path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/2'
alldic2 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic2.append(dict)
var7=pd.concat(alldic2)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/11'
alldicts = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldicts.append(dict)

        
var=pd.concat(alldicts)
#var
path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/16'
alldic = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic.append(dict)
var1=pd.concat(alldic)
#com = [var,var1]
#varcom = pd.concat(com)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/37'
alldic37 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic37.append(dict)
var2=pd.concat(alldic37)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/43'
alldic43 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic43.append(dict)
var3=pd.concat(alldic43)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/49'
alldic49 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic49.append(dict)
var4=pd.concat(alldic49)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/55'
alldic55 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic55.append(dict)
var5=pd.concat(alldic55)

path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/matches/72'
alldic72 = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldic72.append(dict)
var6=pd.concat(alldic72)

com = [var7,var,var1,var2,var3,var4,var5,var6]
matchestogether = pd.concat(com)
matchestogether=matchestogether.reset_index()
#matchestogether
matchestogether = pd.DataFrame(matchestogether)

,index,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,metadata,match_week,competition_stage,stadium,referee
0,0,3749052,2004-02-07,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 46, 'home_team_name': 'Wolver...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,3,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 217, 'name': 'Molineux Stadium (Wolverh...",None
1,1,3749522,2003-12-26,13:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 46, 'away_team_name': 'Wolver...",3,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",18,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",None
2,2,3749246,2004-03-28,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 39, 'away_team_name': 'Manche...",1,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",30,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",None
3,3,3749257,2004-05-15,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 22, 'away_team_name': 'Leices...",2,1,available,scheduled,2020-08-30T08:12:14.579037,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",38,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",None
4,4,3749642,2004-02-28,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 75, 'away_team_name': 'Charlt...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",27,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,47,69199,2019-06-27,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 852, 'home_team_name': 'Norwa...","{'away_team_id': 865, 'away_team_name': 'Engla...",0,3,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 230, 'name': 'Stade Océane', 'country':...","{'id': 1638, 'name': 'Lucila Venegas Montes', ..."
1091,48,69258,2019-07-02,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 865, 'home_team_name': 'Engla...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",6,"{'id': 15, 'name': 'Semi-finals'}","{'id': 193, 'name': 'Groupama Stadium', 'count...",None
1092,49,69284,2019-07-03,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 851, 'home_team_name': 'Nethe...","{'away_team_id': 858, 'away_team_name': 'Swede...",1,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",6,"{'id': 15, 'name': 'Semi-finals'}","{'id': 193, 'name': 'Groupama Stadium', 'count...","{'id': 1627, 'name': 'Marie-Soleil Beaudoin', ..."
1093,50,69205,2019-06-29,15:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 855, 'home_team_name': 'Italy...","{'away_team_id': 851, 'away_team_name': 'Nethe...",0,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 231, 'name': 'Stade du Hainaut', 'count...","{'id': 1632, 'name': 'Claudia Umpiérrez', 'cou..."
1094,51,69161,2019-06-24,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 863, 'home_team_name': 'Spain...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",4,"{'id': 33, 'name': 'Round of 16'}","{'id': 232, 'name': 'Stade Auguste-Delaune II ...","{'id': 721, 'name': 'Katalin Kulcsar', 'countr..."

In [52]:
matchestogether.to_pickle('pickle_matches')

In [1]:
import pandas as pd
pd.read_pickle('pickle_matches')

,index,match_id,match_date,kick_off,competition,season,home_team,away_team,home_score,away_score,match_status,match_status_360,last_updated,last_updated_360,metadata,match_week,competition_stage,stadium,referee
0,0,3749052,2004-02-07,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 46, 'home_team_name': 'Wolver...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,3,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",2,"{'id': 1, 'name': 'Regular Season'}","{'id': 217, 'name': 'Molineux Stadium (Wolverh...",NaN
1,1,3749522,2003-12-26,13:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 46, 'away_team_name': 'Wolver...",3,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",18,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",NaN
2,2,3749246,2004-03-28,17:05:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 39, 'away_team_name': 'Manche...",1,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",30,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",NaN
3,3,3749257,2004-05-15,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 22, 'away_team_name': 'Leices...",2,1,available,scheduled,2020-08-30T08:12:14.579037,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",38,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",NaN
4,4,3749642,2004-02-28,16:00:00.000,"{'competition_id': 2, 'country_name': 'England...","{'season_id': 44, 'season_name': '2003/2004'}","{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 75, 'away_team_name': 'Charlt...",2,1,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",27,"{'id': 1, 'name': 'Regular Season'}","{'id': 1000243, 'name': 'Highbury Stadium', 'c...",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,47,69199,2019-06-27,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 852, 'home_team_name': 'Norwa...","{'away_team_id': 865, 'away_team_name': 'Engla...",0,3,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 230, 'name': 'Stade Océane', 'country':...","{'id': 1638, 'name': 'Lucila Venegas Montes', ..."
1091,48,69258,2019-07-02,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 865, 'home_team_name': 'Engla...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",6,"{'id': 15, 'name': 'Semi-finals'}","{'id': 193, 'name': 'Groupama Stadium', 'count...",NaN
1092,49,69284,2019-07-03,21:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 851, 'home_team_name': 'Nethe...","{'away_team_id': 858, 'away_team_name': 'Swede...",1,0,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",6,"{'id': 15, 'name': 'Semi-finals'}","{'id': 193, 'name': 'Groupama Stadium', 'count...","{'id': 1627, 'name': 'Marie-Soleil Beaudoin', ..."
1093,50,69205,2019-06-29,15:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 855, 'home_team_name': 'Italy...","{'away_team_id': 851, 'away_team_name': 'Nethe...",0,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",5,"{'id': 1, 'name': 'Regular Season'}","{'id': 231, 'name': 'Stade du Hainaut', 'count...","{'id': 1632, 'name': 'Claudia Umpiérrez', 'cou..."
1094,51,69161,2019-06-24,18:00:00.000,"{'competition_id': 72, 'country_name': 'Intern...","{'season_id': 30, 'season_name': '2019'}","{'home_team_id': 863, 'home_team_name': 'Spain...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2,available,scheduled,2020-07-29T05:00,2021-06-13T16:17:31.694,"{'data_version': '1.1.0', 'shot_fidelity_versi...",4,"{'id': 33, 'name': 'Round of 16'}","{'id': 232, 'name': 'Stade Auguste-Delaune II ...","{'id': 721, 'name': 'Katalin Kulcsar', 'countr..."

In [2]:
import pandas as pd #lineups
path_to_jsonfiles = '/Users/matthewvoss/SoccerProjectFixed/open-data/data/lineups'
alldicline = []
for file in os.listdir(path_to_jsonfiles):
    full_filename = "%s/%s" % (path_to_jsonfiles, file)
    with open(full_filename,'r') as fi:
        dict = pd.read_json(fi)
        alldicline.append(dict)
varlineup=pd.concat(alldicline)
varlineup = varlineup.reset_index()
varlineup
varlineup.to_pickle('pickle_lineup')

In [ ]:
shortened_matches = pd.read_pickle('pickle_matches')
shortened_matches = shortened_matches[['match_id','home_team','away_team','home_score','away_score']]
shortened_matches

,match_id,home_team,away_team,home_score,away_score
0,3749052,"{'home_team_id': 46, 'home_team_name': 'Wolver...","{'away_team_id': 1, 'away_team_name': 'Arsenal...",1,3
1,3749522,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 46, 'away_team_name': 'Wolver...",3,0
2,3749246,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 39, 'away_team_name': 'Manche...",1,1
3,3749257,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 22, 'away_team_name': 'Leices...",2,1
4,3749642,"{'home_team_id': 1, 'home_team_name': 'Arsenal...","{'away_team_id': 75, 'away_team_name': 'Charlt...",2,1
...,...,...,...,...,...
1090,69199,"{'home_team_id': 852, 'home_team_name': 'Norwa...","{'away_team_id': 865, 'away_team_name': 'Engla...",0,3
1091,69258,"{'home_team_id': 865, 'home_team_name': 'Engla...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2
1092,69284,"{'home_team_id': 851, 'home_team_name': 'Nethe...","{'away_team_id': 858, 'away_team_name': 'Swede...",1,0
1093,69205,"{'home_team_id': 855, 'home_team_name': 'Italy...","{'away_team_id': 851, 'away_team_name': 'Nethe...",0,2
1094,69161,"{'home_team_id': 863, 'home_team_name': 'Spain...","{'away_team_id': 1214, 'away_team_name': 'Unit...",1,2

In [4]:
def breaker(text):
    ending = text.find('.json')
    return text[:ending]
test = 'hello I like water.json'
test2='7298.json'
a=breaker(test2)
int(a)

7298

In [5]:
dictionary = []
shortened_matches['match_id']
for i in range(1095):
    temp = pd.read_json('/Users/matthewvoss/SoccerProjectFixed/open-data/data/events/' + str(shortened_matches.at[i,'match_id']) + '.json')
    temp['match_id']=shortened_matches.at[i,'match_id']
    temp['match_id']=shortened_matches.at[i,'match_id']
    temp['home_team']=shortened_matches.at[i,'home_team'].get('home_team_name')
    temp['away_team']=shortened_matches.at[i,'away_team'].get('away_team_name')
    temp['home_score']=shortened_matches.at[i,'home_score']
    temp['away_score']=shortened_matches.at[i,'away_score']
    dictionary.append(temp)
fullData = pd.concat(dictionary)

KeyboardInterrupt:

In [2]:
import pandas as pd
shortened_matches = pd.read_pickle('pickle_matches')
shortened_matches = shortened_matches[['match_id','home_team','away_team','home_score','away_score','match_date']]
#shortened_matches['year']=shortened_matches['match_date']
def breaker(text):
    ending = text.find('-')
    return text[:ending]
diction = []
diction2 = []
for i in range(len(shortened_matches['match_id'])):
    temp = shortened_matches['match_date'].get(i)
    diction.append(temp)
for i in range(len(shortened_matches)):
    temp2 = breaker(diction[i])
    diction2.append(temp2)
shortened_matches['year']=diction2
shortened_matches_2019 = shortened_matches[shortened_matches['year']=='2019']
dictionary = []
for i in range(len(shortened_matches_2019)):
    temp3 = pd.read_json('/Users/matthewvoss/SoccerProjectFixed/open-data/data/events/' + str(shortened_matches['match_id'].values[i]) + '.json')
    temp3['home_team']=shortened_matches_2019['home_team'].values[i].get('home_team_name')
    temp3['away_team']=shortened_matches_2019['away_team'].values[i].get('away_team_name')
    temp3['home_score']=shortened_matches_2019['home_score'].values[i]
    temp3['away_score']=shortened_matches_2019['away_score'].values[i]
    temp3['match_id']=shortened_matches_2019['match_id'].values[i]
    dictionary.append(temp3)
df = pd.concat(dictionary)
df

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,home_team,away_team,home_score,away_score,match_id,50_50,half_start,injury_stoppage,half_end,player_off
0,3b20dc57-5cb7-46a8-bccb-b09d984478d7,1,1,2021-11-28 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 46, 'name': 'Wolverhampton Wanderers'}","{'id': 1, 'name': 'Regular Play'}",...,Sevilla,Barcelona,2,4,16190,NaN,NaN,NaN,NaN,NaN
1,61306f72-bec9-466f-9d43-c1152531323c,2,1,2021-11-28 00:00:00.000,0,0,"{'id': 35, 'name': 'Starting XI'}",1,"{'id': 46, 'name': 'Wolverhampton Wanderers'}","{'id': 1, 'name': 'Regular Play'}",...,Sevilla,Barcelona,2,4,16190,NaN,NaN,NaN,NaN,NaN
2,98964276-7c4e-4067-975a-2f7a07665ad8,3,1,2021-11-28 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 46, 'name': 'Wolverhampton Wanderers'}","{'id': 1, 'name': 'Regular Play'}",...,Sevilla,Barcelona,2,4,16190,NaN,NaN,NaN,NaN,NaN
3,691cd9cc-9e81-4ba1-83b9-87fc0617fab0,4,1,2021-11-28 00:00:00.000,0,0,"{'id': 18, 'name': 'Half Start'}",1,"{'id': 46, 'name': 'Wolverhampton Wanderers'}","{'id': 1, 'name': 'Regular Play'}",...,Sevilla,Barcelona,2,4,16190,NaN,NaN,NaN,NaN,NaN
4,3870b202-0c05-4fe2-9729-e186bd4d1808,5,1,2021-11-28 00:00:00.675,0,0,"{'id': 30, 'name': 'Pass'}",2,"{'id': 1, 'name': 'Arsenal'}","{'id': 9, 'name': 'From Kick Off'}",...,Sevilla,Barcelona,2,4,16190,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3613,bc8bd9d3-3b69-4ae4-936e-37bbbd498690,3614,2,2021-11-28 00:47:49.376,92,49,"{'id': 2, 'name': 'Ball Recovery'}",181,"{'id': 217, 'name': 'Barcelona'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
3614,6a1d948b-4d3e-4d86-82d8-41432367ae9e,3615,2,2021-11-28 00:47:57.105,92,57,"{'id': 30, 'name': 'Pass'}",181,"{'id': 217, 'name': 'Barcelona'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
3615,7a53ad83-61de-4dbb-b24c-97aa47310858,3616,2,2021-11-28 00:47:58.818,92,58,"{'id': 42, 'name': 'Ball Receipt*'}",181,"{'id': 217, 'name': 'Barcelona'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
3616,f0eb6c34-b2ae-4ec7-a3f8-e21d643d7b99,3617,2,2021-11-28 00:48:05.235,93,5,"{'id': 34, 'name': 'Half End'}",181,"{'id': 217, 'name': 'Barcelona'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
3617,adb2d7f4-0c36-498b-9319-92ea2b3b4a5c,3618,2,2021-11-28 00:48:05.235,93,5,"{'id': 34, 'name': 'Half End'}",181,"{'id': 217, 'name': 'Barcelona'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN

In [18]:
dfshotsonly = df.dropna(subset=['shot'])
dfshotsonly['shot'].values

array([{'statsbomb_xg': 0.18677612000000002, 'end_location': [120.0, 43.8, 0.5], 'key_pass_id': '8267672c-804d-4702-ac50-d501f2eb8fe2', 'body_part': {'id': 40, 'name': 'Right Foot'}, 'type': {'id': 87, 'name': 'Open Play'}, 'outcome': {'id': 97, 'name': 'Goal'}, 'first_time': True, 'technique': {'id': 91, 'name': 'Half Volley'}, 'freeze_frame': [{'location': [104.0, 29.4], 'player': {'id': 24765, 'name': 'Denis Irwin'}, 'position': {'id': 2, 'name': 'Right Back'}, 'teammate': False}, {'location': [101.9, 50.4], 'player': {'id': 40304, 'name': 'Lee Naylor'}, 'position': {'id': 6, 'name': 'Left Back'}, 'teammate': False}, {'location': [97.8, 39.3], 'player': {'id': 40313, 'name': 'Colin Cameron'}, 'position': {'id': 11, 'name': 'Left Defensive Midfield'}, 'teammate': False}, {'location': [105.2, 39.6], 'player': {'id': 40312, 'name': 'Paul Butler'}, 'position': {'id': 5, 'name': 'Left Center Back'}, 'teammate': False}, {'location': [107.2, 31.4], 'player': {'id': 40314, 'name': 'Jody Craddock'}, 'position': {'id': 3, 'name': 'Right Center Back'}, 'teammate': False}, {'location': [114.7, 37.1], 'player': {'id': 40319, 'name': 'Paul Jones'}, 'position': {'id': 1, 'name': 'Goalkeeper'}, 'teammate': False}, {'location': [106.8, 27.7], 'player': {'id': 12529, 'name': 'Ashley Cole'}, 'position': {'id': 6, 'name': 'Left Back'}, 'teammate': True}, {'location': [98.9, 35.0], 'player': {'id': 19312, 'name': 'Robert Pirès '}, 'position': {'id': 16, 'name': 'Left Midfield'}, 'teammate': True}]},
       {'statsbomb_xg': 0.031963106000000005, 'end_location': [118.7, 38.9, 2.3], 'key_pass_id': '428a30a1-5f57-4b04-ab1b-5f0a3e189d36', 'technique': {'id': 93, 'name': 'Normal'}, 'body_part': {'id': 40, 'name': 'Right Foot'}, 'type': {'id': 87, 'name': 'Open Play'}, 'outcome': {'id': 100, 'name': 'Saved'}, 'freeze_frame': [{'location': [110.2, 41.8], 'player': {'id': 15515, 'name': 'Patrick Vieira'}, 'position': {'id': 9, 'name': 'Right Defensive Midfield'}, 'teammate': True}, {'location': [111.0, 41.1], 'player': {'id': 40305, 'name': 'Mark Kennedy'}, 'position': {'id': 16, 'name': 'Left Midfield'}, 'teammate': False}, {'location': [102.2, 23.5], 'player': {'id': 10525, 'name': 'Kenny Miller'}, 'position': {'id': 12, 'name': 'Right Midfield'}, 'teammate': False}, {'location': [105.2, 26.7], 'player': {'id': 40311, 'name': 'Alex Rae'}, 'position': {'id': 9, 'name': 'Right Defensive Midfield'}, 'teammate': False}, {'location': [112.1, 34.6], 'player': {'id': 40314, 'name': 'Jody Craddock'}, 'position': {'id': 3, 'name': 'Right Center Back'}, 'teammate': False}, {'location': [110.6, 37.7], 'player': {'id': 40313, 'name': 'Colin Cameron'}, 'position': {'id': 11, 'name': 'Left Defensive Midfield'}, 'teammate': False}, {'location': [110.7, 45.6], 'player': {'id': 40304, 'name': 'Lee Naylor'}, 'position': {'id': 6, 'name': 'Left Back'}, 'teammate': False}, {'location': [111.7, 26.7], 'player': {'id': 40312, 'name': 'Paul Butler'}, 'position': {'id': 5, 'name': 'Left Center Back'}, 'teammate': False}, {'location': [110.6, 19.1], 'player': {'id': 24765, 'name': 'Denis Irwin'}, 'position': {'id': 2, 'name': 'Right Back'}, 'teammate': False}, {'location': [118.9, 37.5], 'player': {'id': 40319, 'name': 'Paul Jones'}, 'position': {'id': 1, 'name': 'Goalkeeper'}, 'teammate': False}]},
       {'statsbomb_xg': 0.10116549600000001, 'end_location': [120.0, 29.5, 0.0], 'key_pass_id': 'ca8d6f1b-e13b-4f2e-b32f-9a492199d00b', 'first_time': True, 'technique': {'id': 93, 'name': 'Normal'}, 'body_part': {'id': 40, 'name': 'Right Foot'}, 'type': {'id': 87, 'name': 'Open Play'}, 'outcome': {'id': 98, 'name': 'Off T'}, 'freeze_frame': [{'location': [103.8, 22.7], 'player': {'id': 10525, 'name': 'Kenny Miller'}, 'position': {'id': 12, 'name': 'Right Midfield'}, 'teammate': False}, {'location': [112.2, 27.4], 'player': {'id': 24765, 'name': 'Denis Irwin'}, 'position': {'id': 2, 'name': 'Right Back'}, 'teammate': False}, {'location': [110.2, 31.6], 'player': {'id': 40311, 'name': 'Alex Rae'}, 'position': {'id': 9, 'name': 'Right Defensive Midfield'}, 'teammate': False}, {'location': [112.8, 34.9], 'player': {'id': 40312, 'name': 'Paul Butler'}, 'position': {'id': 5, 'name': 'Left Center Back'}, 'teammate': False}, {'location': [119.2, 42.8], 'player': {'id': 40319, 'name': 'Paul Jones'}, 'position': {'id': 1, 'name': 'Goalkeeper'}, 'teammate': False}, {'location': [113.8, 40.2], 'player': {'id': 40314, 'name': 'Jody Craddock'}, 'position': {'id': 3, 'name': 'Right Center Back'}, 'teammate': False}, {'location': [108.7, 44.6], 'player': {'id': 40313, 'name': 'Colin Cameron'}, 'position': {'id': 11, 'name': 'Left Defensive Midfield'}, 'teammate': False}, {'location': [113.2, 46.9], 'player': {'id': 40305, 'name': 'Mark Kennedy'}, 'position': {'id': 16, 'name': 'Left Midfield'}, 'teammate': False}, {'location': [111.7, 52.3], 'player': {'id': 40304, 'name': 'Lee Naylor'}, 'position': {'id': 6, 'name': 'Left Back'}, 'teammate': False}, {'location': [100.5, 41.0], 'player': {'id': 15042, 'name': 'Dennis Bergkamp'}, 'position': {'id': 22, 'name': 'Right Center Forward'}, 'teammate': True}, {'location': [112.3, 41.3], 'player': {'id': 15515, 'name': 'Patrick Vieira'}, 'position': {'id': 9, 'name': 'Right Defensive Midfield'}, 'teammate': True}, {'location': [109.9, 51.6], 'player': {'id': 40222, 'name': 'Laureano Bisan-Etame Mayer'}, 'position': {'id': 2, 'name': 'Right Back'}, 'teammate': True}]},
       ...,
       {'statsbomb_xg': 0.042451832, 'end_location': [118.1, 42.6, 0.8], 'key_pass_id': '10a1d48b-001c-4f19-911f-7401ff581090', 'technique': {'id': 93, 'name': 'Normal'}, 'body_part': {'id': 37, 'name': 'Head'}, 'type': {'id': 87, 'name': 'Open Play'}, 'outcome': {'id': 100, 'name': 'Saved'}, 'freeze_frame': [{'location': [109.3, 37.3], 'player': {'id': 6671, 'name': 'Asier Illarramendi Andonegi'}, 'position': {'id': 13, 'name': 'Right Center Midfield'}, 'teammate': False}, {'location': [112.5, 32.4], 'player': {'id': 6605, 'name': 'Joseba Zaldúa Bengoetxea'}, 'position': {'id': 2, 'name': 'Right Back'}, 'teammate': False}, {'location': [112.8, 41.2], 'player': {'id': 16622, 'name': 'Mikel González de Martín Martínez'}, 'position': {'id': 3, 'name': 'Right Center Back'}, 'teammate': False}, {'location': [110.4, 46.1], 'player': {'id': 16539, 'name': 'Diego Antonio Reyes Rosales'}, 'position': {'id': 5, 'name': 'Left Center Back'}, 'teammate': False}, {'location': [107.1, 24.0], 'player': {'id': 6690, 'name': 'Xabier Prieto Argarate'}, 'position': {'id': 17, 'name': 'Right Wing'}, 'teammate': False}, {'location': [104.9, 30.4], 'player': {'id': 6770, 'name': 'Esteban Félix Granero Molina'}, 'position': {'id': 10, 'name': 'Center Defensive Midfield'}, 'teammate': False}, {'location': [118.1, 41.2], 'player': {'id': 6694, 'name': 'Gerónimo Rulli'}, 'position': {'id': 1, 'name': 'Goalkeeper'}, 'teammate': False}, {'location': [109.5, 59.9], 'player': {'id': 6674, 'name': 'Alberto De La Bella Madureño'}, 'position': {'id': 6, 'name': 'Left Back'}, 'teammate': False}, {'location': [104.2, 48.4], 'player': {'id': 6899, 'name': 'Rubén Pardo Gutiérrez'}, 'position': {'id': 15, 'name': 'Left Center Midfield'}, 'teammate': False}, {'location': [111.8, 41.1], 'player': {'id': 6616, 'name': 'Munir El Haddadi Mohamed'}, 'position': {'id': 23, 'name': 'Center Forward'}, 'teammate': True}, {'location': [114.1, 43.0], 'player': {'id': 5213, 'name': 'Gerard Piqué Bernabéu'}, 'position': {'id': 3, 'name': 'Right Center Back'}, 'teammate': True}, {'location': [104.1, 33.6], 'player': {'id': 5216, 'name': 'Andrés Iniesta Luján'}, 'position': {'id': 15, 'name': 'Left Center Midfield'}, 'teammate': True}, {'location': [108.0, 30.5], 'player': {'id': 4320, 'name': 'Neymar da Silva Santos Junior'}, 'position': {'id': 21, 'name': 'Left Wing'}, 'teammate': True}, {'location': [94.4, 17.3], 'player': {'id': 5211, 'name': 'Jordi Alba Ramos'}, 'position': {'id': 6, 'name': 'Left Back'}, 'teammate': True}, {'location': [107.4, 64.9], 'player': {'id': 4324, 'name': 'Daniel Alves da Silva'}, 'position': {'id': 2, 'name': 'Right Back'}, 'teammate': True}]},
       {'statsbomb_xg': 0.16987328000000002, 'end_location': [115.0, 39.2, 0.7000000000000001], 'key_pass_id': '23a808bc-c4d9-4582-95e5-f2b35e6ac9d6', 'type': {'id': 87, 'name': 'Open Play'}, 'outcome': {'id': 100, 'name': 'Saved'}, 'technique': {'id': 93, 'name': 'Normal'}, 'body_part': {'id': 38, 'name': 'Left Foot'}, 'freeze_frame': [{'location': [87.1, 18.9], 'player': {'id': 6690, 'name': 'Xabier Prieto Argarate'}, 'position': {'id': 17, 'name': 'Right Wing'}, 'teammate': False}, {'location': [107.0, 25.2], 'player': {'id': 6605, 'name': 'Joseba Zaldúa Bengoetxea'}, 'position': {'id': 2, 'name': 'Right Back'}, 'teammate': False}, {'location': [101.3, 20.6], 'player': {'id': 6770, 'name': 'Esteban Félix Granero Molina'}, 'position': {'id': 10, 'name': 'Center Defensive Midfield'}, 'teammate': False}, {'location': [103.6, 31.4], 'player': {'id': 16622, 'name': 'Mikel González de Martín Martínez'}, 'position': {'id': 3, 'name': 'Right Center Back'}, 'teammate': False}, {'location': [106.9, 29.9], 'player': {'id': 6671, 'name': 'Asier Illarramendi Andonegi'}, 'position': {'id': 13, 'name': 'Right Center Midfield'}, 'teammate': False}, {'location': [107.5, 38.3], 'player': {'id': 16539, 'name': 'Diego Antonio Reyes Rosales'}, 'position': {'id': 5, 'name': 'Left Center Back'}, 'teammate': False}, {'location': [116.0, 38.1], 'player': {'id': 6694, 'name': 'Gerónimo Rulli'}, 'position': {'id': 1, 'name': 'Goalkeeper'}, 'teammate': False}, {'location': [106.3, 47.9], 'player': {'id': 6674, 'name': 'Alberto De La Bella Madureño'}, 'position': {'id': 6, 'name': 'Left Back'}, 'teammate': False}, {'location': [101.9, 33.7], 'player': {'id': 6899, 'name': 'Rubén Pardo Gutiérrez'}, 'position': {'id': 15, 'name': 'Left Center Midfield'}, 'teammate': False}, {'location': [100.0, 42.4], 'player': {'id': 10754, 'name': 'Héctor Hernández Ortega'}, 'position': {'id': 21, 'name': 'Left Wing'}, 'teammate': False}, {'location': [104.8, 27.7], 'player': {'id': 5211, 'name': 'Jordi Alba Ramos'}, 'position': {'id': 6, 'name': 'Left Back'}, 'teammate': True}, {'location': [108.6, 22.8], 'player': {'id': 6616, 'name': 'Munir El Haddadi Mohamed'}, 'position': {'id': 23, 'name': 'Center Forward'}, 'teammate': True}, {'location': [105.8, 19.2], 'player': {'id': 4320, 'name': 'Neymar da Silva Santos Junior'}, 'position': {'id': 21, 'name': 'Left Wing'}, 'teammate': True}, {'location': [106.4, 45.4], 'player': {'id': 5213, 'name': 'Gerard Piqué Bernabéu'}, 'position': {'id': 3, 'name': 'Right Center Back'}, 'teammate': True}, {'location': [94.8, 40.7], 'player': {'id': 5503, 'name': 'Lionel Andrés Messi Cuccittini'}, 'position': {'id': 17, 'name': 'Right Wing'}, 'teammate': True}, {'location': [101.1, 52.5], 'player': {'id': 5470, 'name': 'Ivan Rakitić'}, 'position': {'id': 13, 'name': 'Right Center Midfield'}, 'teammate': True}]},
       {'statsbomb_xg': 0.03322529, 'end_location': [102.0, 33.6], 'outcome': {'id': 96, 'name': 'Blocked'}, 'technique': {'id': 93, 'name': 'Normal'}, 'body_part': {'id': 38, 'name': 'Left Foot'}, 'type': {'id': 87, 'name': 'Open Play'}, 'freeze_frame': [{'location': [102.7, 30.2], 'player': {'id': 5216, 'name': 'Andrés Iniesta Luján'}, 'position': {'id': 15, 'name': 'Left Center Midfield'}, 'teammate': True}, {'location': [86.3, 19.5], 'player': {'id': 6690, 'name': 'Xabier Prieto Argarate'}, 'position': {'id': 17, 'name': 'Right Wing'}, 'teammate': False}, {'location': [102.2, 25.9], 'player': {'id': 6770, 'name': 'Esteban Félix Granero Molina'}, 'position': {'id': 10, 'name': 'Center Defensive Midfield'}, 'teammate': False}, {'location': [102.6, 33.6], 'player': {'id': 6605, 'name': 'Joseba Zaldúa Bengoetxea'}, 'position': {'id': 2, 'name': 'Right Back'}, 'teammate': False}, {'location': [102.7, 35.4], 'player': {'id': 16622, 'name': 'Mikel González de Martín Martínez'}, 'position': {'id': 3, 'name': 'Right Center Back'}, 'teammate': False}, {'location': [108.8, 35.9], 'player': {'id': 6671, 'name': 'Asier Illarramendi Andonegi'}, 'position': {'id': 13, 'name': 'Right Center Midfield'}, 'teammate': False}, {'location': [108.5, 38.9], 'player': {'id': 16539, 'name': 'Diego Antonio Reyes Rosales'}, 'position': {'id': 5, 'name': 'Left Center Back'}, 'teammate': False}, {'location': [104.4, 45.5], 'player': {'id': 6674, 'name': 'Alberto De La Bella Madureño'}, 'position': {'id': 6, 'name': 'Left Back'}, 'teammate': False}, {'location': [116.9, 39.5], 'player': {'id': 6694, 'name': 'Gerónimo Rulli'}, 'position': {'id': 1, 'name': 'Goalkeeper'}, 'teammate': False}, {'location': [100.9, 37.2], 'player': {'id': 10754, 'name': 'Héctor Hernández Ortega'}, 'position': {'id': 21, 'name': 'Left Wing'}, 'teammate': False}, {'location': [102.8, 42.7], 'player': {'id': 6899, 'name': 'Rubén Pardo Gutiérrez'}, 'position': {'id': 15, 'name': 'Left Center Midfield'}, 'teammate': False}, {'location': [106.3, 25.4], 'player': {'id': 4320, 'name': 'Neymar da Silva Santos Junior'}, 'position': {'id': 21, 'name': 'Left Wing'}, 'teammate': True}, {'location': [108.4, 22.1], 'player': {'id': 6616, 'name': 'Munir El Haddadi Mohamed'}, 'position': {'id': 23, 'name': 'Center Forward'}, 'teammate': True}, {'location': [107.5, 44.7], 'player': {'id': 5213, 'name': 'Gerard Piqué Bernabéu'}, 'position': {'id': 3, 'name': 'Right Center Back'}, 'teammate': True}, {'location': [110.1, 41.2], 'player': {'id': 5211, 'name': 'Jordi Alba Ramos'}, 'position': {'id': 6, 'name': 'Left Back'}, 'teammate': True}, {'location': [98.4, 53.8], 'player': {'id': 5470, 'name': 'Ivan Rakitić'}, 'position': {'id': 13, 'name': 'Right Center Midfield'}, 'teammate': True}, {'location': [96.0, 63.4], 'player': {'id': 4324, 'name': 'Daniel Alves da Silva'}, 'position': {'id': 2, 'name': 'Right Back'}, 'teammate': True}]}],
      dtype=object)

In [15]:
from sklearn.model_selection import train_test_split
import numpy as np

y = df['match_id'].values
X = df.iloc[:, df.columns!='match_id']

X_train, X_test, y_train, y_test = \
    train_test_split(X, y, test_size=0.3, shuffle=True, random_state=42, stratify=y)

In [17]:
y_train.shape

(475631,)

In [18]:
from sklearn.model_selection import GroupShuffleSplit
train_inds, test_inds = next(GroupShuffleSplit(test_size=.20, n_splits=2, random_state = 42).split(df, groups=df['match_id']))

train = df.iloc[train_inds]
test = df.iloc[test_inds]

In [19]:
train.shape

(546645, 47)

In [20]:
test.shape

(132828, 47)

In [20]:
#So I have discovered that the shot column when it isn't NaN is really useful
#I just kept only the rows with no NaN values and use those to make our model
#Since Stats bomb gives us a Xg already what if we try and make a model that performs
#better than their Xg in order to help people make bets in soccer.
import pandas as pd
shortened_matches = pd.read_pickle('pickle_matches')
shortened_matches = shortened_matches[['match_id','home_team','away_team','home_score','away_score','match_date']]
dictionary=[]
for i in range(len(shortened_matches)):
    temp4 = pd.read_json('/Users/matthewvoss/SoccerProjectFixed/open-data/data/events/' + str(shortened_matches['match_id'].values[i]) + '.json')
    temp4=temp4.dropna(subset=['shot'])
    temp4['home_team']=shortened_matches['home_team'].values[i].get('home_team_name')
    temp4['away_team']=shortened_matches['away_team'].values[i].get('away_team_name')
    temp4['home_score']=shortened_matches['home_score'].values[i]
    temp4['away_score']=shortened_matches['away_score'].values[i]
    temp4['match_id']=shortened_matches['match_id'].values[i]
    dictionary.append(temp4)
df = pd.concat(dictionary)
df

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,home_team,away_team,home_score,away_score,match_id,50_50,half_start,injury_stoppage,half_end,player_off
359,b69245a8-00da-4bac-8766-7b1d7548acbc,360,1,2021-11-28 00:08:11.523,8,11,"{'id': 16, 'name': 'Shot'}",22,"{'id': 1, 'name': 'Arsenal'}","{'id': 4, 'name': 'From Throw In'}",...,Wolverhampton Wanderers,Arsenal,1,3,3749052,NaN,NaN,NaN,NaN,NaN
474,86c1c1ba-71a9-401e-a11e-c43716c2f543,475,1,2021-11-28 00:12:19.239,12,19,"{'id': 16, 'name': 'Shot'}",28,"{'id': 1, 'name': 'Arsenal'}","{'id': 4, 'name': 'From Throw In'}",...,Wolverhampton Wanderers,Arsenal,1,3,3749052,NaN,NaN,NaN,NaN,NaN
479,83491870-daa3-4174-b59a-f96d63c9881d,480,1,2021-11-28 00:12:23.131,12,23,"{'id': 16, 'name': 'Shot'}",28,"{'id': 1, 'name': 'Arsenal'}","{'id': 4, 'name': 'From Throw In'}",...,Wolverhampton Wanderers,Arsenal,1,3,3749052,NaN,NaN,NaN,NaN,NaN
507,03f7b8ae-8f2d-448f-a75e-fb3aa350cb91,508,1,2021-11-28 00:13:45.318,13,45,"{'id': 16, 'name': 'Shot'}",32,"{'id': 46, 'name': 'Wolverhampton Wanderers'}","{'id': 3, 'name': 'From Free Kick'}",...,Wolverhampton Wanderers,Arsenal,1,3,3749052,NaN,NaN,NaN,NaN,NaN
717,9d164056-1ab0-4e31-adfc-2c806537c0bd,718,1,2021-11-28 00:20:20.793,20,20,"{'id': 16, 'name': 'Shot'}",48,"{'id': 46, 'name': 'Wolverhampton Wanderers'}","{'id': 3, 'name': 'From Free Kick'}",...,Wolverhampton Wanderers,Arsenal,1,3,3749052,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,3e767b66-7e5a-428e-a4a8-26af57a7639b,2060,2,2021-11-28 00:14:29.178,59,29,"{'id': 16, 'name': 'Shot'}",118,"{'id': 1214, 'name': 'United States Women's'}","{'id': 3, 'name': 'From Free Kick'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
2211,97ea84d3-d429-48a4-9664-a2c2d489da12,2212,2,2021-11-28 00:19:07.871,64,7,"{'id': 16, 'name': 'Shot'}",126,"{'id': 1214, 'name': 'United States Women's'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
2227,746bc451-30af-477a-b824-293543017741,2228,2,2021-11-28 00:19:59.455,64,59,"{'id': 16, 'name': 'Shot'}",128,"{'id': 863, 'name': 'Spain Women's'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
2432,a5a87567-a946-4860-9f5f-75436339c59d,2433,2,2021-11-28 00:30:36.196,75,36,"{'id': 16, 'name': 'Shot'}",138,"{'id': 1214, 'name': 'United States Women's'}","{'id': 5, 'name': 'Other'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
2504,b770310f-94c0-4397-ae2e-98d4ce86ace2,2505,2,2021-11-28 00:33:35.925,78,35,"{'id': 16, 'name': 'Shot'}",143,"{'id': 1214, 'name': 'United States Women's'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN

In [21]:
df.to_pickle('shots_dataframe')

In [22]:
shots = pd.read_pickle('shots_dataframe')
shots

,id,index,period,timestamp,minute,second,type,possession,possession_team,play_pattern,...,home_team,away_team,home_score,away_score,match_id,50_50,half_start,injury_stoppage,half_end,player_off
359,b69245a8-00da-4bac-8766-7b1d7548acbc,360,1,2021-11-28 00:08:11.523,8,11,"{'id': 16, 'name': 'Shot'}",22,"{'id': 1, 'name': 'Arsenal'}","{'id': 4, 'name': 'From Throw In'}",...,Wolverhampton Wanderers,Arsenal,1,3,3749052,NaN,NaN,NaN,NaN,NaN
474,86c1c1ba-71a9-401e-a11e-c43716c2f543,475,1,2021-11-28 00:12:19.239,12,19,"{'id': 16, 'name': 'Shot'}",28,"{'id': 1, 'name': 'Arsenal'}","{'id': 4, 'name': 'From Throw In'}",...,Wolverhampton Wanderers,Arsenal,1,3,3749052,NaN,NaN,NaN,NaN,NaN
479,83491870-daa3-4174-b59a-f96d63c9881d,480,1,2021-11-28 00:12:23.131,12,23,"{'id': 16, 'name': 'Shot'}",28,"{'id': 1, 'name': 'Arsenal'}","{'id': 4, 'name': 'From Throw In'}",...,Wolverhampton Wanderers,Arsenal,1,3,3749052,NaN,NaN,NaN,NaN,NaN
507,03f7b8ae-8f2d-448f-a75e-fb3aa350cb91,508,1,2021-11-28 00:13:45.318,13,45,"{'id': 16, 'name': 'Shot'}",32,"{'id': 46, 'name': 'Wolverhampton Wanderers'}","{'id': 3, 'name': 'From Free Kick'}",...,Wolverhampton Wanderers,Arsenal,1,3,3749052,NaN,NaN,NaN,NaN,NaN
717,9d164056-1ab0-4e31-adfc-2c806537c0bd,718,1,2021-11-28 00:20:20.793,20,20,"{'id': 16, 'name': 'Shot'}",48,"{'id': 46, 'name': 'Wolverhampton Wanderers'}","{'id': 3, 'name': 'From Free Kick'}",...,Wolverhampton Wanderers,Arsenal,1,3,3749052,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2059,3e767b66-7e5a-428e-a4a8-26af57a7639b,2060,2,2021-11-28 00:14:29.178,59,29,"{'id': 16, 'name': 'Shot'}",118,"{'id': 1214, 'name': 'United States Women's'}","{'id': 3, 'name': 'From Free Kick'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
2211,97ea84d3-d429-48a4-9664-a2c2d489da12,2212,2,2021-11-28 00:19:07.871,64,7,"{'id': 16, 'name': 'Shot'}",126,"{'id': 1214, 'name': 'United States Women's'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
2227,746bc451-30af-477a-b824-293543017741,2228,2,2021-11-28 00:19:59.455,64,59,"{'id': 16, 'name': 'Shot'}",128,"{'id': 863, 'name': 'Spain Women's'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
2432,a5a87567-a946-4860-9f5f-75436339c59d,2433,2,2021-11-28 00:30:36.196,75,36,"{'id': 16, 'name': 'Shot'}",138,"{'id': 1214, 'name': 'United States Women's'}","{'id': 5, 'name': 'Other'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN
2504,b770310f-94c0-4397-ae2e-98d4ce86ace2,2505,2,2021-11-28 00:33:35.925,78,35,"{'id': 16, 'name': 'Shot'}",143,"{'id': 1214, 'name': 'United States Women's'}","{'id': 4, 'name': 'From Throw In'}",...,Spain Women's,United States Women's,1,2,69161,NaN,NaN,NaN,NaN,NaN